.navbar_bg_white {
    background-color: white;
    border: none;
}
.btn_nav {
    margin: 10px;
}

#btn_accedi {
    background-color: lightgray;
}

#btn_down {
    background-color: black;
    color: white;
}