.navbar_bg_white {
    background-color: white;
    border: none;
}

nav li {
    font-size: 1.6rem;
}
.btn_nav {
    margin: 10px;
}

#btn_accedi {
    background-color: lightgray;
}

#btn_down {
    background-color: black;
    color: white;
}

ul.list_menu li {
    list-style: none;
    padding: 10px; 
    margin-left: -20px;
} 

li.drop_down a:hover {
    color: #000;
    text-decoration: none;
}

li.drop_down li a {
    color: gray;  
}

ul.list_menu li a {
    color: gray;
    text-align: left; 
}

li.drop_down li:last-child a { 
    border-right: none; 
} 

li.drop_down li.hover, li.drop_down li:hover { 
    color: black; 
}
li.drop_down li.hover a { 
    color: black; 
}

li.drop_down ul { 
    width: 150px;   
    border-radius: 10px;
    box-shadow: 1px 1px 5px #999999;   
}

li.drop_down ul li { 
    color: #000;        
}

.dhide{
    display: none;
}
									  